@page
@model LH001.Pages.IndexModel
@{
    Layout = "_Layout";
}
<center>
    <div style="font-size: 30px; font-family: Tahoma;">
        Bem vindo, Desenvolvedor!<br>

        <div style=" font-size: 15px;color: gray;">
            Um sistema para realizar o cadastramento de horas trabalhadas, escolha uma opção no menu para começar.
        </div>
    </div>
    <hr>
    <img src="~/img/logo_index_v2.png" alt="logo" style="width: 50%; padding-top: 2%;">
</center>