/TesteDotNet.ControleHoras/Api/obj
/TesteDotNet.ControleHoras/Api/bin
/TesteDotNet.ControleHoras/TesteDotNet.ControleHoras.Aplicacao/obj
/TesteDotNet.ControleHoras/TesteDotNet.ControleHoras.Aplicacao/bin
/TesteDotNet.ControleHoras/TesteDotNet.ControleHoras.Aplicacao.DTO/obj
/TesteDotNet.ControleHoras/TesteDotNet.ControleHoras.Aplicacao.DTO/bin
/TesteDotNet.ControleHoras/TesteDotNet.ControleHoras.Dominio/obj
/TesteDotNet.ControleHoras/TesteDotNet.ControleHoras.Dominio/bin
/TesteDotNet.ControleHoras/TesteDotNet.ControleHoras.Dominio.Core/obj
/TesteDotNet.ControleHoras/TesteDotNet.ControleHoras.Dominio.Core/bin
/TesteDotNet.ControleHoras/TesteDotNet.ControleHoras.Dominio.Servicos/obj
/TesteDotNet.ControleHoras/TesteDotNet.ControleHoras.Dominio.Servicos/bin
/TesteDotNet.ControleHoras/TesteDotNet.ControleHoras.DTO.Mapeamento/obj
/TesteDotNet.ControleHoras/TesteDotNet.ControleHoras.DTO.Mapeamento/bin
/TesteDotNet.ControleHoras/TesteDotNet.ControleHoras.Infra.Dados.Base/obj
/TesteDotNet.ControleHoras/TesteDotNet.ControleHoras.Infra.Dados.Base/bin
/TesteDotNet.ControleHoras/.vs/TesteDotNet.ControleHoras/DesignTimeBuild/.dtbcache.v2
/TesteDotNet.ControleHoras/.vs/TesteDotNet.ControleHoras/v16/.suo
/TesteDotNet.ControleHoras/.vs/TesteDotNet.ControleHoras/v16/TestStore/0/000.testlog
/TesteDotNet.ControleHoras/.vs/TesteDotNet.ControleHoras/v16/TestStore/0/testlog.manifest
/TesteDotNet.ControleHoras/TesteDotNet.ControleHoras.Api/obj
/TesteDotNet.ControleHoras/TesteDotNet.ControleHoras.Api/bin
