@model LubyWebMvc.Models.BankOfHours.LaunchHoursInputViewModel

@{
    ViewData["Title"] = "LaunchHours";
}

<h1>LaunchHours</h1>

<h4>LaunchHoursInputViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LaunchHours">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntryDate" class="control-label"></label>
                <input asp-for="EntryDate" class="form-control" />
                <span asp-validation-for="EntryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinalDate" class="control-label"></label>
                <input asp-for="FinalDate" class="form-control" />
                <span asp-validation-for="FinalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="LaunchHours" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
