@model Lançador_de_Horas_WebAPI.Models.RegistroDeHoras

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RegistroDeHoras</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFim" class="control-label"></label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalHoras" class="control-label"></label>
                <input asp-for="TotalHoras" class="form-control" />
                <span asp-validation-for="TotalHoras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesenvolvedorId" class="control-label"></label>
                <select asp-for="DesenvolvedorId" class ="form-control" asp-items="ViewBag.DesenvolvedorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProjetoId" class="control-label"></label>
                <select asp-for="ProjetoId" class ="form-control" asp-items="ViewBag.ProjetoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
