@page
@model LH001.Pages.Desenvolvedor.AdicionarModel
@{
    Layout = "_Layout";
}
<div style="width: 93%;padding-left: 7%;">
    <form method="post">
        <div class="row">

            <div class="col-3">
                <label for="exampleInputEmail1" class="form-label">Id:</label>
                <input type="number" id="Id" class="form-control" value="@Model.modal.Id" readonly aria-describedby="busca por id">
            </div>
            <div class="col-8">
                <label for="exampleInputEmail1" class="form-label">Nome:</label>
                <input type="text" id="Nome" class="form-control" value="@Model.modal.Nome" aria-describedby="busca por nome">
            </div>
        </div>
    </form>
    <div class="col-12">
        <p class="fa-pull-right">
            <a class="btn btn-success" onclick="Adicionar();"><i class="fas fa-search"></i> Adicionar</a>
        </p>
    </div>
</div>

@section Scripts {
    <script asp-append-version="true">

        function Adicionar() {
            $.getJSON("?handler=Adicionar&nome=" + $("#Nome").val(), (data) => {

            });
        }
    </script>
}