@page
@model LH001.Pages.Desenvolvedor.AdicionarModel
@{
    Layout = "_Layout";
}
<div style="width: 93%;padding-left: 7%;">
    <form method="post">
        <div class="row">
            <input id="TipoTela" value="@Model.modal.TipoTela" type="hidden">
            <div class="col-3">
                <label for="exampleInputEmail1" class="form-label">Id:</label>
                <input type="number" id="Id" class="form-control" value="@Model.modal.Id" readonly aria-describedby="busca por id">
            </div>
            <div class="col-8">
                <label for="exampleInputEmail1" class="form-label">Nome:</label>
                <input type="text" id="Nome" class="form-control" value="@Model.modal.Nome" aria-describedby="busca por nome">
            </div>
        </div>
    </form>
    <div class="col-12">
        <p class="fa-pull-right">
            @if (Model.modal.TipoTela != "E")
            {
                <a class="btn btn-primary" onclick="Adicionar();"><i class="fas fa-save"></i> Adicionar</a>
            }
            else
            {
                <a class="btn btn-primary" onclick="Adicionar();"><i class="fas fa-save"></i> Alterar</a>
            }
        </p>
    </div>
</div>

@section Scripts {
    <script asp-append-version="true">

        function Adicionar() {
            $.getJSON("?handler=Adicionar&nome=" + $("#Nome").val() + "&TipoTela=" + $("#TipoTela").val(), (data) => {
                if (data.ok) {   
                    window.location.href = "/Desenvolvedor/Index";
                }
                else
                {
                    $(".modal-body").text(data.msg);
                    $("#BtnModal").click();              
                }
            });
        }
    </script>
}