@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="row">
        <div class="col-sm-6">
            <table class="table-bordered">
                <tr>
                    <th>Desenvolvedor</th>
                </tr>
                <tr>
                    <td style="text-align:left">
                        GET ALL: https://localhost:44383/api/desenvolvedores
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left">
                        GET ID: https://localhost:44383/api/desenvolvedores/{id}
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left">
                        POST: https://localhost:44383/api/desenvolvedores
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left">
                        PUT: https://localhost:44383/api/desenvolvedores/{id}
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left">
                        DELETE: https://localhost:44383/api/desenvolvedores/{id}
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div class="col-sm-6">
            <table class="table-bordered">
                <tr>
                    <th>Projeto</th>
                </tr>
                <tr>
                    <td style="text-align:left">
                        GET ALL: https://localhost:44383/api/projetos
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left">
                        GET ID: https://localhost:44383/api/projetos/{id}
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left">
                        POST: https://localhost:44383/api/projetos
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left">
                        PUT: https://localhost:44383/api/projetos/{id}
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left">
                        DELETE: https://localhost:44383/api/projetos/{id}
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div class="col-sm-6">
            <table class="table-bordered">
                <tr>
                    <th>Lançamento de horas</th>
                </tr>
                <tr>
                    <td style="text-align:left">
                        GET ALL: https://localhost:44383/api/registrosdehoras
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left">
                        GET ID: https://localhost:44383/api/registrosdehoras/{id}
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left">
                        POST: https://localhost:44383/api/registrosdehoras
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left">
                        PUT: https://localhost:44383/api/registrosdehoras/{id}
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left">
                        DELETE: https://localhost:44383/api/registrosdehoras/{id}
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div class="col-sm-6">
            <table class="table-bordered">
                <tr>
                    <th>Ranking</th>
                </tr>
                <tr>
                    <td style="text-align:left">
                        GET: https://localhost:44383/api/ranking
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>