@model IEnumerable<Lançador_de_Horas_WebAPI.Models.Ranking>

@{
    ViewData["Title"] = "index";
}

<h1>Ranking dos 5 desenvolvedores com media maior de horas trabalhadas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaHoras)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MediaHoras)
                </td>
            </tr>
        }
    </tbody>
</table>